; Create a file called credentials.ini and add copy this file there
[credentials]

wifi_ssid=
wifi_password=

; Usually 1883 for unencrypted connections
mqtt_port=1883

; MQTT broker's IP and your registered credentials there
mqtt_server=
mqtt_username=
mqtt_password=

